@import "../../global/global.scss";

.menu-wrapper {
    #search-movies {
        width: 100%;
        border-radius: 30px;
        border: none;
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
    }
}