@import "../../global/global.scss";

#header{
    background-image : url('/assets/images/headerImage.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 40vh;
    border-radius: $border-radius-cards;

}

.title-wrapper {
    h1 {
        font-family: $mainFont;
        font-size: 5rem;
        color: $secondary;
        font-weight: 700;
    }
}

.app-icon {
    width: 30rem;
    filter: $secondary-filter;
}

.menu-wrapper {
    #menu {
        list-style: none;
        padding-left: 1rem;
        margin: 0;

        a {
            font-size: 1.2rem;
            color: $secondary;
            cursor: pointer;
            transition: 0.1s ease-in;
        }

        a:hover{
            font-size: 1.5rem;
            transition: 0.1s ease-in;
        }
        
    }
}

