@import "../../global/global.scss";

footer{
    color: $secondary;
    border-top: 5px solid $secondary;
    font-family: $mainFont;
    
    img {
        max-width: 8rem;
    
    }

    h5 {
        font-weight: bold;
    }

    .app-icon {
        max-width: 8rem;
    }

    .app-icon-text {
        font-size: 1.5rem;
        font-weight: bold;
    }
}