.feld {
    background-color: hsl(183, 100%, 15%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 0.5rem;
    font-size: 23px;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 144px 144px 144px;
    row-gap: 1rem;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}