.similarMovies{
    text-align: center;
}

.imageSimilarMovie{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.titleSimilarMovie{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
}